@import "../valo/valo";

.smartCinema {
	@include valo;	
}

// Header
.headerbackground {
	background-color:#000000;
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
	padding: 0px 15px 0px 15px;
}

// Footer
.footerbackground {
	background-color:#033076;
}

.copyrightText {
	color: white; 
}

// Nav-Bars
.navigatorBarLeft {
	background-color:#121212;	
}

.navigatorBarRight {
	background-color:#1a1a1a;	
}

// Main Area
.v-panel-content > div {
   background: transparent;
}

.v-panel-content {
   background-color:#1f1f1f;
   color:#ffffff;
}

.v-panel-content.v-panel-content-searchPanel {
   background-color:#3f3f3f;
   border-radius:10px;
   color:#ffffff;
}

.layout {
	background-color:#1f1f1f;
	border:none;
}

// Search-Panel
.searchPanel {
	background-color:#3f3f3f;
}

.v-button.v-button-cinemaSearchBtn .v-button-wrap {
	display: inline-block;
	border: none;
	color: #FFFFFF;
	text-align: center;
	font-size: 20px;
	cursor: pointer;
	background-color:#3f3f3f;
}

.v-textfield.v-textfield-cinemaSearchBox {
	color:#ffffff;
	background-color:#3f3f3f;
	border:none;

}



// Home-Button
.v-button.v-button-homeBtn .v-button-wrap {
	display: inline-block;
	border: none;
	color: #FFFFFF;
	text-align: center;
	font-size: 40px;
	cursor: pointer;
	margin-right: 35px;
}

// Fold Button
.v-button.v-button-foldBtn .v-button-wrap {
	display: inline-block;
	border: none;
	color: #FFFFFF;
	text-align: center;
	font-size: 40px;
	cursor: pointer;
	margin-left: 35px;
}

// Refister-Button
.v-button.v-button-register_userBtn .v-button-wrap {
	display: inline-block;
	border: none;
	color: #FFFFFF;
	text-align: center;
	font-size: 16px;
	cursor: pointer;
	font-weight:bold;
	transition: color 0.5s;
	
}

.v-button.v-button-register_userBtn .v-button-wrap {
	content:none;	
}

.v-button.v-button-register_userBtn:hover .v-button-wrap {
	color:#194b7d;
}


// Login-Button
.v-button.v-button-login_logoutBtn .v-button-wrap {

  display: inline-block;
  border-radius: 25px;
  background-color: #194b7d;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 16px;
  padding: 5px 20px 5px 20px;
  transition: all 0.5s;
  cursor: pointer;
  font-weight:bold;    
}

.v-button.v-button-login_logoutBtn .v-button-wrap:after {
	content: none;
}

.v-button.v-button-login_logoutBtn:hover .v-button-wrap {
	background-color:#4373a4;
}

// Navigator
.navigator {
	background-color:#1a1a1a
}

.v-verticallayout.v-layout.v-vertical.navigator.v-verticallayout-navigator {
	padding: 5px 50px 20px 15px;	
}

.navHeadings {
	font-weight:bold;
	color:#424242;
	font-size:13px;
}

.v-button.v-widget.navigatorBtn.v-button-navigatorBtn.link.v-button-link { 
	display: inline-block;
	border: none;
	color: #FFFFFF;
	text-align: left;
	font-size: 15px;
	cursor: pointer;
	font-weight:bold;
	height: 22px;
	width: 160%;
	margin-bottom: 10px;
	text-decoration: none;
	transition: background-color 0.3s;
}

.v-button.v-widget.navigatorBtn.v-button-navigatorBtn.link.v-button-link:hover { 
	background-color:gray;
}

.v-button.v-widget.navigatorBtn.v-button-navigatorBtn.link.v-button-link:after { 
	content:none;
}


// Favorit-Buttons
.v-button.v-button-cinemaFavBtn .v-button-wrap {

  display: inline-block;
  border-radius: 25px;
  background-color: #555555;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 16px;
  padding: 5px 20px 5px 20px;
  transition: all 0.5s;
  cursor: pointer;
  font-weight:bold;   
}

.v-button.v-button-cinemaFavBtn.list .v-button-wrap {
  margin-top:45px;    
}

.v-button.v-button-cinemaFavBtn.detail .v-button-wrap {
  margin-top:70px;    
}

.v-button.v-button-cinemaFavBtn:hover .v-button-wrap {
	background-color:#194b7d;
}

.v-button.v-button-cinemaFavBtn .v-button-wrap .FontAwesome{
	transition: color 0.75s;
}

.v-button.v-button-cinemaFavBtn:hover .v-button-wrap .FontAwesome{
	color:#ff0000;
}

.v-button.v-button-cinemaUnfavBtn .v-button-wrap {

  display: inline-block;
  border-radius: 25px;
  background-color: #194b7d;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 16px;
  padding: 5px 20px 5px 20px;
  transition: all 0.5s;
  cursor: pointer;
  font-weight:bold;
  margin-top:45px;
     
}

.v-button.v-button-cinemaUnfavBtn:hover .v-button-wrap {
	background-color:#555555;
}

.v-button.v-button-cinemaUnfavBtn .v-button-wrap .FontAwesome{
	color:#ff0000;
	transition: color 0.75s;
}

.v-button.v-button-cinemaUnfavBtn:hover .v-button-wrap .FontAwesome{
	color:#ffffff;
}


// CinemaListLink
.v-link.v-link-cinemaListLink {
	color:#194b7d;	
	text-decoration:none;
	font-size:16px;
	font-weight:bold;
}

// CinemaListRows
.v-horizontallayout.v-horizontallayout-cinemaRow {
	padding:5px 5px 5px 5px;
	transition: background-color 0.75s;
}
.v-horizontallayout.v-horizontallayout-cinemaRow:hover {
	filter:brightness(1.1);
	background-color:#2f2f2f;
}

// CinemaDetailStuff
.v-label.v-label-cinemaNameLabel {
	font-size: 30px;
	font-weight:bold;	
}

// MovieDetailStuff
.v-label.v-label-movieNameLabel {
	font-size: 30px;
	font-weight:bold;	
}

.v-verticallayout.v-verticallayout-movieInfoBox .v-label {
	font-size:16px;	
}

// Scrollbar
::-webkit-scrollbar {
    width: 10px;
}
 
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    border-radius: 10px;
}
 
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color:#2a2a2a;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}







