@import "../valo/valo";

.smartCinema {
	@include valo;
}

// Header
#headerbackground {
	background-color:#141a1d;
	padding: 0px 15px 0px 15px;
}

// Tool-Bars
#toolBarLeft {
	background-color:#20282c;	
}

#toolBarRight {
	background-color:#33383a;	
}

// Main Area
#layout {
	background-color:#3f4447;
	border:none;
	color: #ffffff;
}

// Search-Panel
#searchPanel {
   background-color:#141a1d;
   color:#ffffff;
   cursor: pointer;
}

#cinemaSearchBtn {
	display: inline-block;
	text-align: center;
	font-size: 20px;
	border-radius: 0px 10px 10px 0px;
	background-color:#3f4447;
	color:#ffffff;
}

#cinemaSearchBtn.v-button-link:after {
	content: none;
}

#cinemaSearchBox {
	background-color:#3f4447;
   	border-radius:  10px 0px 0px 10px;
}

// Home-Button
#homeBtn {
	display: inline-block;
	border: none;
	color: #FFFFFF;
	text-align: center;
	font-size: 40px;
	cursor: pointer;
	margin-left: 30px;
	margin-bottom: 20px;
}

#homeBtn.v-button-link:after {
	content: none;
}

// Fold Button
#foldBtn {
	display: inline-block;
	border: none;
	color: #FFFFFF;
	text-align: center;
	font-size: 40px;
	cursor: pointer;
	margin-right: 30px;
	margin-bottom: 20px;
}

#foldBtn.v-button-link:after {
	content: none;
}

// Register-Button
#registerUserBtn {
	display: inline-block;
	border: none;
	color: #FFFFFF;
	text-align: center;
	font-size: 16px;
	cursor: pointer;
	font-weight:bold;
	transition: color 0.4s;
	outline: none;
	text-decoration: none;

}

#registerUserBtn.v-button-link:after {
	content: none;
}

#registerUserBtn:hover {
	color: #4373a4;
}


// Login-Button
#loginLogoutBtn {
  display: inline-block;
  border-radius: 25px;
  border: none;
  color: #FFFFFF;
  background: #194b7d;
  text-align: center;
  font-size: 16px;
  padding: 5px 20px 5px 20px;
  transition: all 0.4s;
  cursor: pointer;
  font-weight:bold;
  text-decoration: none;
}

#loginLogoutBtn.v-button-link:after {
	content: none;
}

#loginLogoutBtn:hover {
	background-color:#4373a4;
}

// Login-Form
#loginForm {
	display: inline-block;
	color: #FFFFFF;
	margin: auto;
}

#loginSubmitButton {
  display: inline-block;
  border-radius: 25px;
  border: none;
  color: #FFFFFF;
  background: #194b7d;
  text-align: center;
  font-size: 16px;
  padding: 5px 20px 5px 20px;
  transition: all 0.4s;
  cursor: pointer;
  font-weight:bold;
  text-decoration: none;
}

#loginSubmitButton.v-button-link:after {
	content: none;
}

#loginSubmitButton:hover {
	background-color:#4373a4;
}

// Navigator
#navigator {
	background-color:#33383a;
	padding: 5px 50px 20px 15px;
}

[id^=navHeadings] {
	font-weight:bold;
	color:#7b7c80;
	font-size:13px;
}

.smartCinema .v-button-link[id^=navigatorBtn] { 
	display: inline-block;
	border: none;
	color: #FFFFFF;
	text-align: left;
	font-size: 15px;
	cursor: pointer;
	font-weight:bold;
	height: 22px;
	width: 160%;
	margin-bottom: 10px;
	text-decoration: none;
	transition: background-color 0.3s;
}

.smartCinema .v-button-link[id^=navigatorBtn]:hover { 
	background-color: #686a6f;
}

.smartCinema .v-button-link[id^=navigatorBtn].v-button-link:after { 
	content: none;
}


// Favorit-Buttons
.smartCinema .v-button-link[id^=cinemaFavBtn] {
	display: inline-block;
	border-radius: 25px;
	background-color: #20282c;
	border: none;
	color: #FFFFFF;
	text-align: center;
	font-size: 16px;
	padding: 5px 20px 5px 20px;
	transition: all 0.4s;
	cursor: pointer;
	font-weight:bold;  
	margin-top:45px;  
	text-decoration: none;
}

.smartCinema .v-button-link[id^=cinemaFavBtn].v-button-link:after{
	content: none;
}

.smartCinema .v-button-link[id^=cinemaFavBtn]:hover {
	background-color: #194b7d;
}

.smartCinema .v-button-link[id^=cinemaFavBtn] .FontAwesome{
	transition: color 0.5s;
}

.smartCinema .v-button-link[id^=cinemaFavBtn]:hover .FontAwesome{
	color:#ff0000;
}

.smartCinema .v-button-link[id^=cinemaUnfavBtn] {
  	display: inline-block;
  	border-radius: 25px;
  	background-color: #194b7d;
  	border: none;
  	color: #FFFFFF;
  	text-align: center;
  	font-size: 16px;
  	padding: 5px 20px 5px 20px;
  	transition: all 0.4s;
  	cursor: pointer;
  	font-weight:bold;
  	margin-top:45px;
  	text-decoration: none;     
}

.smartCinema .v-button-link[id^=cinemaUnfavBtn].v-button-link:after{
	content: none;
}

.smartCinema .v-button-link[id^=cinemaUnfavBtn]:hover {
	background-color:#20282c;
}

.smartCinema .v-button-link[id^=cinemaUnfavBtn] .FontAwesome{
	color:#ff0000;
	transition: color 0.5s;
}

.smartCinema .v-button-link[id^=cinemaUnfavBtn]:hover .FontAwesome{
	color:#ffffff;
}

// Cinema-List
[id^=cinemaRow] {
	padding:5px 5px 5px 5px;
	transition: all 0.4s;
	color: #FFFFFF;
}

[id^=cinemaRow]:hover {
	filter:brightness(1.1);
	background-color:#686a6f;
}

.smartCinema .v-link[id^=cinemaListLink] {
	color:#FFFFFF;	
	text-decoration:none;
	font-size:16px;
	font-weight:bold;
}

.smartCinema .v-link[id^=cinemaListLink]:hover {
	color:#194b7d;	
}

// Cinema-Detail
[id^=cinemaNameLabel] {
	font-size: 30px;
	font-weight:bold;
	color: #FFFFFF;	
}

[id^=cinemaInfoBox] {
	color: #FFFFFF;
	padding-left: 20px; 
}

// Movie-List
[id^=movieRow] {
	padding:5px 5px 5px 5px;
	transition: all 0.4s;
	color: #FFFFFF;
}

[id^=movieRow]:hover {
	filter:brightness(1.1);
	background-color:#686a6f;
}

.smartCinema .v-link[id^=movieListLink] {
	color:#FFFFFF;	
	text-decoration:none;
	font-size:16px;
	font-weight:bold;
}

.smartCinema .v-link[id^=movieListLink]:hover {
	color:#194b7d;	
}

// Movie-Filter
#movieFilter {
	color: #FFFFFF;
}

// Movie-Detail
[id^=movieNameLabel] {
	font-size: 30px;
	font-weight:bold;
	color: #FFFFFF;
	padding-left: 20px;	
}

[id^=movieInfoBox] {
	color: #FFFFFF;
}

[id^="yearRow"] {
	font-weight: bold;
	padding-top: 10px;
	padding-left: 20px;
	padding-right: 20px;
}

[id^="durationRow"] {
	font-weight: bold;
	padding-top: 10px;
	padding-left: 20px;
	padding-right: 20px;
	color: #b0b0b1;
}

.movieInfoLabel {
	font-weight: bold;
	color: #b0b0b1;
	padding-top: 10px;
	padding-left: 20px;
}

.movieInfo {
	font-weight: bold;
	position: absolute;
	left: 150px;
	padding-top: 10px;
}

[id^="description"] {
	font-weight: bold;
	padding-top: 20px;
	padding-left: 20px;
	padding-bottom: 40px;
}

[id^="ratingsPanel"] {
	margin-bottom: 20px;
}

// Scrollbar
::-webkit-scrollbar {
    width: 5px;
}
 
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    border-radius: 10px;
}
 
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color:#141a1d;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}